<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="<?php echo CSS_PATH;?>/common.css">
    <link rel="stylesheet" href="<?php echo CSS_PATH;?>/tableV1.css">
    <script type="text/javascript" src="<?php echo JS_PATH;?>/jquery-3.0.0/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="<?php echo JS_PATH;?>/menu.js"></script>
    <script type="text/javascript" src="<?php echo JS_PATH;?>/date/dateV1.js"></script>
</head>
<body>
<div class="main_content_html">
    <div class="main_content_title">
        <php>if($action=='add'){</php>添加<php>}else{</php>修改<php>}</php>广告
    </div>
    <div class="main_content_table">
        <form action="/Extra/Index/add_poster_submit" method="post">
            <table class="table_add_edit">
                <input type="hidden" name="action" value="{$action}">
                <input type="hidden" name="id" value="{$id}">
                <php>if($action=='edit'){</php>
                <tr>
                    <td>广告id：</td>
                    <td>{$id}</td>
                </tr>
                <php>}</php>
                <tr>
                    <td>广告名称：</td>
                    <td><input type="text" name="info[name]" value="{$name}" ></td>
                </tr>
                <tr>
                    <td>广告类型：</td>
                    <td>{$type}</td>
                </tr>
                <tr>
                    <td>广告投放开始时间：</td>
                    <td><input type="text" class="date" data-default="1472797260" name="info[start_time]" value="" readonly/></td>
                </tr>
                <tr>
                    <td>广告投放结束时间：</td>
                    <td><input type="text" class="date" data-default="1472799999" name="info[start_time]" value="" readonly/></td>
                </tr>
                <tr>
                    <td>是否显示：</td>
                    <td>{$is_show}</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" /></td>
                </tr>
            </table>
        </form>
    </div>
</div>
</body>
</html>